* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gameCanvas {
    display: block;
    background-color: #FFF;
    border: #000 solid 1px;
    width: 100vw;
    height: 100vh;
}